{% extends "base.html" %}

{% block content %}

<div class="headline">
    <h1>STAR WARS INFO</h1>
</div>

{% if attributes %}
<div class="select_menu">
    <form action="" method="POST">
        <select name="choice">
            {% for attribute in attributes %}
            <option value="{{ attribute }}">{{ attribute }}</option>
            {% endfor %}
        </select>
        <button type="submit">OK</button>
    </form>
</div>
{% endif %}

{% if choice %}
<h2>{{ choice }}</h2>
{% endif %}

{% if results %}
  {% for result in results %}
    <ul>
        <li>{{ result }}</li>
    </ul>
  {% endfor %}
{% endif %}

{% endblock %}
